cycler==0.10.0
dukpy==0.2.0
future==0.16.0
javascripthon==0.10
Jinja2==2.10
joblib==0.11
jupyter-echarts-pypkg==0.1.1
kiwisolver==1.0.1
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
Pillow==5.1.0
pyecharts==0.5.5
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyparsing==2.2.0
pysam==0.13
python-dateutil==2.7.3
pytz==2018.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
